#AYANAGAR DATA - PREPROCESSING

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os

# List everything in your MyDrive
os.listdir('/content/drive/MyDrive')

['Colab Notebooks', 'ML_work']

In [3]:
data_dir = '/content/drive/MyDrive/ML_work/datafiles'

In [4]:
import os

In [5]:
os.listdir(data_dir)

['safdarjung_2.csv',
 'Format_SURFACE_Table_3_SYNOPTIC_HOUR_Daily.pdf',
 'Format_SURFACE_Table_2_DAY_SUMMARY_Daily.pdf',
 'ayanagar_2.csv',
 'safdarjung.csv',
 'delhi_university.csv',
 'ridge.csv',
 'ayanagar.csv',
 'palam.csv',
 'churu.csv',
 'bikaner.csv',
 'barmer.csv',
 'jaisalmer.csv',
 'daily_weather_data_corrected (4).csv',
 'ayanagar_final_preprocessed.csv']

In [6]:
import pandas as pd
df = pd.read_csv(os.path.join(data_dir, 'ayanagar.csv'))
df.head()

,INDEX,YEAR,MN,HR,DT,SLP,MSLP,DBT,WBT,DPT,...,c,a,Ht,RF,EVP,DW,P,H,WAT,Unnamed: 36
0,42180,1970,3,0,1,989.3,1015.0,15.8,15.0,14.4,...,,,,0.0,,,,,,NaN
1,42180,1970,3,0,2,987.3,1013.6,9.8,9.4,9.0,...,,,,0.0,,,,,,NaN
2,42180,1970,3,0,3,986.5,1012.7,NaN,NaN,NaN,...,,,,0.0,,,,,,NaN
3,42180,1970,3,0,4,984.1,1010.4,8.8,8.0,7.1,...,,,,0.0,,,,,,NaN
4,42180,1970,3,0,5,985.2,1011.4,9.8,9.0,8.1,...,,,,0.0,,,,,,NaN

In [7]:
df.columns

Index(['INDEX', 'YEAR', 'MN', 'HR', 'DT', 'SLP', 'MSLP', 'DBT', 'WBT', 'DPT',
       'RH', 'VP', 'DD', 'FFF', 'AW', 'VV', 'Cl', 'A', 'Cm', 'A.1', 'Ch',
       'A.2', 'Dl', 'Dm', 'Dh', 'TC', 'h', 'c', 'a', 'Ht', 'RF', 'EVP', 'DW',
       'P', 'H', 'WAT', 'Unnamed: 36'],
      dtype='object')

In [8]:
df.describe()

,INDEX,YEAR,MN,HR,DT,SLP,MSLP,DBT,WBT,DPT,RF,Unnamed: 36
count,22878.0,22878.000000,22878.000000,22878.000000,22878.000000,22878.000000,22878.000000,22833.000000,22752.000000,22781.000000,22781.000000,0.0
mean,42180.0,1988.744689,4.495498,37.746132,15.748536,977.540629,1001.711360,29.288810,20.665269,15.082064,0.254761,NaN
std,0.0,16.244479,1.119729,25.338626,8.793017,27.334700,47.754622,7.767997,4.250306,5.590307,2.580577,NaN
min,42180.0,1970.000000,3.000000,0.000000,1.000000,0.000000,0.000000,5.000000,4.800000,-11.300000,0.000000,NaN
25%,42180.0,1977.000000,3.000000,12.000000,8.000000,973.800000,999.000000,24.000000,18.000000,11.300000,0.000000,NaN
50%,42180.0,1983.000000,5.000000,36.000000,16.000000,978.200000,1003.800000,29.600000,21.000000,14.900000,0.000000,NaN
75%,42180.0,1989.000000,5.000000,60.000000,23.000000,982.800000,1008.700000,35.200000,24.000000,19.100000,0.000000,NaN
max,42180.0,2024.000000,6.000000,84.000000,31.000000,998.200000,1022.900000,47.000000,40.600000,30.800000,131.600000,NaN

#HOURLY - DAILY DATA (AVERAGE CALCULATION)

In [9]:
import pandas as pd
# Rename columns to standard datetime components
df = df.rename(columns={'YEAR': 'year', 'MN': 'month', 'DT': 'day', 'HR': 'hour'})

# Create datetime column
df['datetime'] = pd.to_datetime(df[['year', 'month', 'day', 'hour']], errors='coerce')

# Drop rows with invalid datetime
df = df.dropna(subset=['datetime'])

# Set datetime as index
df = df.set_index('datetime')

# Convert all applicable columns to numeric, coercing errors
df = df.apply(pd.to_numeric, errors='coerce')

# Resample to daily and compute mean
daily_df = df.resample('D').mean()

# Preview result
daily_df.head()

,INDEX,year,month,hour,day,SLP,MSLP,DBT,WBT,DPT,...,c,a,Ht,RF,EVP,DW,P,H,WAT,Unnamed: 36
datetime,,,,,,,,,,,,,,,,,,,,,
1970-03-01,42180.0,1970.0,3.0,6.0,1.000000,990.350000,1016.10,15.400000,14.600000,14.000000,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1970-03-02,42180.0,1970.0,3.0,12.0,1.666667,989.266667,1015.10,14.933333,12.000000,9.433333,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1970-03-03,42180.0,1970.0,3.0,21.0,2.250000,988.025000,1013.70,18.400000,12.733333,7.433333,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1970-03-04,42180.0,1970.0,3.0,31.2,2.800000,986.860000,1012.58,15.200000,11.440000,8.950000,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1970-03-05,42180.0,1970.0,3.0,31.2,3.800000,986.360000,1012.10,15.600000,12.360000,9.400000,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# Drop non-useful columns (like hour, day, Date) from daily data
daily_df_cleaned = daily_df.drop(columns=['hour', 'day', 'Date'], errors='ignore')

# Optional: Reset index if you want 'datetime' as a column
daily_df_cleaned = daily_df_cleaned.reset_index()

# Display the cleaned dataframe
print(daily_df_cleaned.head())

    datetime    INDEX    year  month         SLP     MSLP        DBT  \
0 1970-03-01  42180.0  1970.0    3.0  990.350000  1016.10  15.400000
1 1970-03-02  42180.0  1970.0    3.0  989.266667  1015.10  14.933333
2 1970-03-03  42180.0  1970.0    3.0  988.025000  1013.70  18.400000
3 1970-03-04  42180.0  1970.0    3.0  986.860000  1012.58  15.200000
4 1970-03-05  42180.0  1970.0    3.0  986.360000  1012.10  15.600000

         WBT        DPT         RH  ...   c   a  Ht   RF  EVP  DW   P   H  \
0  14.600000  14.000000  91.000000  ... NaN NaN NaN  0.0  NaN NaN NaN NaN
1  12.000000   9.433333  73.333333  ... NaN NaN NaN  0.0  NaN NaN NaN NaN
2  12.733333   7.433333  56.750000  ... NaN NaN NaN  0.0  NaN NaN NaN NaN
3  11.440000   8.950000  66.400000  ... NaN NaN NaN  0.0  NaN NaN NaN NaN
4  12.360000   9.400000  70.200000  ... NaN NaN NaN  0.0  NaN NaN NaN NaN

   WAT  Unnamed: 36
0  NaN          NaN
1  NaN          NaN
2  NaN          NaN
3  NaN          NaN
4  NaN          NaN

[5 rows x 36 columns]

In [11]:
# After resampling and before saving:
daily_df_cleaned = daily_df.copy()

# Reset index so 'datetime' becomes a column
daily_df_cleaned = daily_df_cleaned.reset_index()

# Recalculate accurate year, month, day
daily_df_cleaned['year'] = daily_df_cleaned['datetime'].dt.year
daily_df_cleaned['month'] = daily_df_cleaned['datetime'].dt.month
daily_df_cleaned['day'] = daily_df_cleaned['datetime'].dt.day

# Reorder columns if needed (optional)
cols = ['datetime', 'year', 'month', 'day'] + [col for col in daily_df_cleaned.columns if col not in ['datetime', 'year', 'month', 'day']]
daily_df_cleaned = daily_df_cleaned[cols]

# Save and download
daily_df_cleaned.to_csv('daily_weather_data_corrected.csv', index=False)

from google.colab import files
files.download('daily_weather_data_corrected.csv')

In [12]:
import pandas as pd

# Step 1: Define correct column names from the file structure
col_names = ['index', 'year', 'month', 'day', 'max', 'min', 'aw', 'rf', 'evp', 'drnrf(hrs)', 'drnrf(mnts)',
             'ssh', 'ts', 'n', 'fff', 'd', 'tocsq', 'du', 'ra', 'dz', 'sn', 'sl', 'ha', 'th', 'ds',
             'fg', 'ga', 't', 'g', 'dur', 't.1', 'g.1', 'dur.1', 't.2', 'g.2', 'dur.2', 't.3', 'g.3', 'dur.3',
             'unnamed: 39']

In [13]:
import pandas as pd

# Define expected columns
col_names = ['index', 'year', 'month', 'day', 'max', 'min', 'aw', 'rf', 'evp', 'drnrf(hrs)', 'drnrf(mnts)',
             'ssh', 'ts', 'n', 'fff', 'd', 'tocsq', 'du', 'ra', 'dz', 'sn', 'sl', 'ha', 'th', 'ds',
             'fg', 'ga', 't', 'g', 'dur', 't.1', 'g.1', 'dur.1', 't.2', 'g.2', 'dur.2', 't.3', 'g.3', 'dur.3',
             'unnamed: 39']

# Read the file skipping the first row and ignoring bad lines
df2 = pd.read_csv('/content/drive/MyDrive/ML_work/datafiles/ayanagar_2.csv',
                  skiprows=1,
                  names=col_names,
                  on_bad_lines='skip')  # Use 'on_bad_lines="warn"' to debug instead

In [14]:
import pandas as pd

# Step 1: Load skipping embedded header
df2_raw = pd.read_csv('/content/drive/MyDrive/ML_work/datafiles/ayanagar_2.csv', header=None, skiprows=1, on_bad_lines='skip')

# Step 2: Assign column names (41 total)
columns = ['index', 'year', 'mn', 'dt', 'max', 'min', 'aw', 'rf', 'evp',
           'drnrf(hrs)', 'drnrf(mnts)', 'ssh', 'ts', 'n', 'fff', 'd',
           'tocsq', 'du', 'ra', 'dz', 'sn', 'sl', 'ha', 'th', 'ds', 'fg',
           'ga', 't', 'g', 'dur', 't.1', 'g.1', 'dur.1', 't.2', 'g.2',
           'dur.2', 't.3', 'g.3', 'dur.3', 'unnamed: 39', 'unnamed: 40']

df2_raw.columns = columns

# Step 3: Clean column names
df2 = df2_raw.copy()
df2.columns = df2.columns.str.strip().str.lower()
df2 = df2.rename(columns={'mn': 'month', 'dt': 'day'})

# Step 4: Handle datetime
df2 = df2.dropna(subset=['year', 'month', 'day'])
df2[['year', 'month', 'day']] = df2[['year', 'month', 'day']].astype(int)
df2['datetime'] = pd.to_datetime(df2[['year', 'month', 'day']], errors='coerce')

# Step 5: Check output
print(df2[['datetime', 'max', 'min']].head())

    datetime   max   min
0 1970-03-01  23.4  11.2
1 1970-03-02  24.0   8.8
2 1970-03-03  22.6   7.8
3 1970-03-04  22.7   8.1
4 1970-03-05  24.2   8.9

In [21]:
df1 = pd.read_csv('/content/daily_weather_data_corrected.csv')
df1_reduced = df1[[
    'datetime',     # date
    'DBT',          # dry bulb temp
    'WBT',          # wet bulb temp
    'DPT',          # dew point
    'RH',           # relative humidity
    'SLP', 'MSLP',  # sea-level pressure
    'hour'          # hours measured per day (optional)
]].copy()


# Assuming df2 has these columns already cleaned
df2_reduced = df2[['datetime', 'max', 'min']]

In [22]:
print("df1_reduced datetime range:", df1_reduced['datetime'].min(), "to", df1_reduced['datetime'].max())
print("df2_reduced datetime range:", df2_reduced['datetime'].min(), "to", df2_reduced['datetime'].max())

df1_reduced datetime range: 1970-03-01 to 2024-07-02
df2_reduced datetime range: 1970-03-01 00:00:00 to 2024-06-30 00:00:00

In [28]:
# Step 3: Merge both dataframes on datetime
merged_df = pd.merge(df1_reduced, df2_reduced, on='datetime', how='inner')

# Step 4: Check
print("✅ Merged DataFrame shape:", merged_df.shape)
print(merged_df.head())
print("\n✅ Missing values check:\n", merged_df.isna().sum())

ValueError: You are trying to merge on object and datetime64[ns] columns for key 'datetime'. If you wish to proceed you should use pd.concat

In [27]:
merged_df.interpolate(method='linear', limit_direction='forward', inplace=True)

NameError: name 'merged_df' is not defined

In [ ]:
# Example: Mark heatwave if max temp >= 45°C
merged_df['heatwave'] = (merged_df['max'] >= 45).astype(int)

In [ ]:
merged_df.to_csv('ayanagar_final_preprocessed.csv', index=False)