In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os

# List everything in your MyDrive
os.listdir('/content/drive/MyDrive')

['Colab Notebooks', 'ML_work']

In [3]:
data_dir = '/content/drive/MyDrive/ML_work/datafiles'

In [4]:
import os

In [5]:
import pandas as pd
df = pd.read_csv(os.path.join(data_dir, '/content/drive/MyDrive/ML_work/datafiles/safdarjung.csv'))
df.head()

/tmp/ipython-input-5-2436692328.py:2: DtypeWarning: Columns (10,13,15,25,26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(data_dir, '/content/drive/MyDrive/ML_work/datafiles/safdarjung.csv'))

,INDEX,YEAR,MN,HR,DT,SLP,MSLP,DBT,WBT,DPT,...,c,a,Ht,RF,EVP,DW,P,H,WAT,Unnamed: 36
0,42182,1970,3,0,1,989.4,1014.9,14.6,14.4,14.3,...,0,2,70,0.0,,,,,,NaN
1,42182,1970,3,0,2,987.8,1013.6,11.6,10.4,9.2,...,0,2,70,0.0,,,,,,NaN
2,42182,1970,3,0,3,987.0,1012.9,9.8,8.2,6.4,...,0,0,99,0.0,,,,,,NaN
3,42182,1970,3,0,4,984.5,1010.2,11.5,10.0,8.5,...,0,0,99,0.0,,,,,,NaN
4,42182,1970,3,0,5,985.2,1010.9,11.8,11.0,10.3,...,0,0,99,0.0,,,,,,NaN

In [9]:
df.columns

Index(['INDEX', 'YEAR', 'MN', 'HR', 'DT', 'SLP', 'MSLP', 'DBT', 'WBT', 'DPT',
       'RH', 'VP', 'DD', 'FFF', 'AW', 'VV', 'Cl', 'A', 'Cm', 'A.1', 'Ch',
       'A.2', 'Dl', 'Dm', 'Dh', 'TC', 'h', 'c', 'a', 'Ht', 'RF', 'EVP', 'DW',
       'P', 'H', 'WAT', 'Unnamed: 36'],
      dtype='object')

In [11]:
df.describe()

,INDEX,YEAR,MN,HR,DT,SLP,MSLP,DBT,WBT,DPT,RF,Unnamed: 36
count,50390.0,50390.000000,50390.000000,50390.000000,50390.000000,50390.000000,50390.000000,50340.000000,50139.000000,50245.000000,50366.000000,0.0
mean,42182.0,1995.783846,4.483052,41.949038,15.724171,975.139923,1003.625573,29.302416,20.752767,15.139023,0.253324,NaN
std,0.0,15.487777,1.115090,27.488299,8.808202,69.221694,20.905999,6.777260,4.023074,5.811583,2.710420,NaN
min,42182.0,1970.000000,3.000000,0.000000,1.000000,0.000000,0.000000,6.400000,5.000000,-16.100000,0.000000,NaN
25%,42182.0,1982.000000,3.000000,12.000000,8.000000,975.500000,999.200000,24.800000,18.000000,11.300000,0.000000,NaN
50%,42182.0,1996.000000,4.000000,36.000000,16.000000,979.900000,1003.800000,29.600000,20.800000,15.100000,0.000000,NaN
75%,42182.0,2009.000000,5.000000,60.000000,23.000000,984.300000,1008.700000,34.200000,23.800000,19.300000,0.000000,NaN
max,42182.0,2024.000000,6.000000,84.000000,31.000000,1002.300000,1022.700000,46.400000,35.800000,35.400000,228.000000,NaN

In [12]:
import pandas as pd
# Rename columns to standard datetime components
df = df.rename(columns={'YEAR': 'year', 'MN': 'month', 'DT': 'day', 'HR': 'hour'})

# Create datetime column
df['datetime'] = pd.to_datetime(df[['year', 'month', 'day', 'hour']], errors='coerce')

# Drop rows with invalid datetime
df = df.dropna(subset=['datetime'])

# Set datetime as index
df = df.set_index('datetime')

# Convert all applicable columns to numeric, coercing errors
df = df.apply(pd.to_numeric, errors='coerce')

# Resample to daily and compute mean
daily_df = df.resample('D').mean()

# Preview result
daily_df.head()

,INDEX,year,month,hour,day,SLP,MSLP,DBT,WBT,DPT,...,c,a,Ht,RF,EVP,DW,P,H,WAT,Unnamed: 36
datetime,,,,,,,,,,,,,,,,,,,,,
1970-03-01,42182.0,1970.0,3.0,6.0,1.0,990.500,1016.000000,15.000000,14.500000,14.150000,...,0.00,2.000000,70.000000,0.0,5.0,NaN,NaN,NaN,NaN,NaN
1970-03-02,42182.0,1970.0,3.0,18.0,1.5,989.700,1014.975000,17.825000,13.125000,8.975000,...,2.75,2.000000,57.500000,0.0,30.0,NaN,NaN,NaN,NaN,NaN
1970-03-03,42182.0,1970.0,3.0,30.0,2.0,988.400,1013.716667,17.283333,12.633333,8.333333,...,1.00,1.166667,76.333333,0.0,29.0,NaN,NaN,NaN,NaN,NaN
1970-03-04,42182.0,1970.0,3.0,42.0,2.5,987.375,1012.575000,17.262500,12.800000,8.425000,...,0.00,0.750000,88.125000,0.0,22.0,NaN,NaN,NaN,NaN,NaN
1970-03-05,42182.0,1970.0,3.0,42.0,3.5,986.675,1011.862500,17.375000,13.125000,9.287500,...,0.00,0.625000,91.750000,0.0,29.0,NaN,NaN,NaN,NaN,NaN

In [13]:
# Drop non-useful columns (like hour, day, Date) from daily data
daily_df_cleaned = daily_df.drop(columns=['hour', 'day', 'Date'], errors='ignore')

# Optional: Reset index if you want 'datetime' as a column
daily_df_cleaned = daily_df_cleaned.reset_index()

# Display the cleaned dataframe
print(daily_df_cleaned.head())

    datetime    INDEX    year  month      SLP         MSLP        DBT  \
0 1970-03-01  42182.0  1970.0    3.0  990.500  1016.000000  15.000000
1 1970-03-02  42182.0  1970.0    3.0  989.700  1014.975000  17.825000
2 1970-03-03  42182.0  1970.0    3.0  988.400  1013.716667  17.283333
3 1970-03-04  42182.0  1970.0    3.0  987.375  1012.575000  17.262500
4 1970-03-05  42182.0  1970.0    3.0  986.675  1011.862500  17.375000

         WBT        DPT         RH  ...     c         a         Ht   RF   EVP  \
0  14.500000  14.150000  94.500000  ...  0.00  2.000000  70.000000  0.0   5.0
1  13.125000   8.975000  58.750000  ...  2.75  2.000000  57.500000  0.0  30.0
2  12.633333   8.333333  57.666667  ...  1.00  1.166667  76.333333  0.0  29.0
3  12.800000   8.425000  59.625000  ...  0.00  0.750000  88.125000  0.0  22.0
4  13.125000   9.287500  62.375000  ...  0.00  0.625000  91.750000  0.0  29.0

   DW   P   H  WAT  Unnamed: 36
0 NaN NaN NaN  NaN          NaN
1 NaN NaN NaN  NaN          NaN
2 NaN NaN NaN  NaN          NaN
3 NaN NaN NaN  NaN          NaN
4 NaN NaN NaN  NaN          NaN

[5 rows x 36 columns]

In [16]:
# After resampling and before saving:
daily_df_cleaned = daily_df.copy()

# Reset index so 'datetime' becomes a column
daily_df_cleaned = daily_df_cleaned.reset_index()

# Recalculate accurate year, month, day
daily_df_cleaned['year'] = daily_df_cleaned['datetime'].dt.year
daily_df_cleaned['month'] = daily_df_cleaned['datetime'].dt.month
daily_df_cleaned['day'] = daily_df_cleaned['datetime'].dt.day

# Reorder columns if needed (optional)
cols = ['datetime', 'year', 'month', 'day'] + [col for col in daily_df_cleaned.columns if col not in ['datetime', 'year', 'month', 'day']]
daily_df_cleaned = daily_df_cleaned[cols]

# Save and download
daily_df_cleaned.to_csv('safdarjung_daily_data1.csv', index=False)

from google.colab import files
files.download('safdarjung_daily_data1.csv')

In [17]:
import pandas as pd

# Step 1: Define correct column names from the file structure
col_names = ['index', 'year', 'month', 'day', 'max', 'min', 'aw', 'rf', 'evp', 'drnrf(hrs)', 'drnrf(mnts)',
             'ssh', 'ts', 'n', 'fff', 'd', 'tocsq', 'du', 'ra', 'dz', 'sn', 'sl', 'ha', 'th', 'ds',
             'fg', 'ga', 't', 'g', 'dur', 't.1', 'g.1', 'dur.1', 't.2', 'g.2', 'dur.2', 't.3', 'g.3', 'dur.3',
             'unnamed: 39']

In [18]:
import pandas as pd

# Define expected columns
col_names = ['index', 'year', 'month', 'day', 'max', 'min', 'aw', 'rf', 'evp', 'drnrf(hrs)', 'drnrf(mnts)',
             'ssh', 'ts', 'n', 'fff', 'd', 'tocsq', 'du', 'ra', 'dz', 'sn', 'sl', 'ha', 'th', 'ds',
             'fg', 'ga', 't', 'g', 'dur', 't.1', 'g.1', 'dur.1', 't.2', 'g.2', 'dur.2', 't.3', 'g.3', 'dur.3',
             'unnamed: 39']

# Read the file skipping the first row and ignoring bad lines
df2 = pd.read_csv('/content/drive/MyDrive/ML_work/datafiles/safdarjung_2.csv',
                  skiprows=1,
                  names=col_names,
                  on_bad_lines='skip')  # Use 'on_bad_lines="warn"' to debug instead

In [19]:
import pandas as pd

# Step 1: Load skipping embedded header
df2_raw = pd.read_csv('/content/drive/MyDrive/ML_work/datafiles/safdarjung_2.csv', header=None, skiprows=1, on_bad_lines='skip')

# Step 2: Assign column names (41 total)
columns = ['index', 'year', 'mn', 'dt', 'max', 'min', 'aw', 'rf', 'evp',
           'drnrf(hrs)', 'drnrf(mnts)', 'ssh', 'ts', 'n', 'fff', 'd',
           'tocsq', 'du', 'ra', 'dz', 'sn', 'sl', 'ha', 'th', 'ds', 'fg',
           'ga', 't', 'g', 'dur', 't.1', 'g.1', 'dur.1', 't.2', 'g.2',
           'dur.2', 't.3', 'g.3', 'dur.3', 'unnamed: 39', 'unnamed: 40']

df2_raw.columns = columns

# Step 3: Clean column names
df2 = df2_raw.copy()
df2.columns = df2.columns.str.strip().str.lower()
df2 = df2.rename(columns={'mn': 'month', 'dt': 'day'})

# Step 4: Handle datetime
df2 = df2.dropna(subset=['year', 'month', 'day'])
df2[['year', 'month', 'day']] = df2[['year', 'month', 'day']].astype(int)
df2['datetime'] = pd.to_datetime(df2[['year', 'month', 'day']], errors='coerce')

# Step 5: Check output
print(df2[['datetime', 'max', 'min']].head())

    datetime   max   min
0 1970-03-01  23.1  13.6
1 1970-03-02  24.1  11.1
2 1970-03-03  22.5   9.1
3 1970-03-04  23.0  10.6
4 1970-03-05  24.8  11.2

In [20]:
df1 = pd.read_csv('/content/safdarjung_daily_data1.csv')
df1_reduced = df1[[
    'datetime',     # date
    'DBT',          # dry bulb temp
    'WBT',          # wet bulb temp
    'DPT',          # dew point
    'RH',           # relative humidity
    'SLP', 'MSLP',  # sea-level pressure
    'hour'          # hours measured per day (optional)
]].copy()


# Assuming df2 has these columns already cleaned
df2_reduced = df2[['datetime', 'max', 'min']]

In [21]:
print("df1_reduced datetime range:", df1_reduced['datetime'].min(), "to", df1_reduced['datetime'].max())
print("df2_reduced datetime range:", df2_reduced['datetime'].min(), "to", df2_reduced['datetime'].max())

df1_reduced datetime range: 1970-03-01 to 2024-07-03
df2_reduced datetime range: 1970-03-01 00:00:00 to 2024-06-30 00:00:00

In [23]:
# Convert datetime column in df1_reduced to datetime objects
df1_reduced['datetime'] = pd.to_datetime(df1_reduced['datetime'])

# Step 3: Merge both dataframes on datetime
merged_df = pd.merge(df1_reduced, df2_reduced, on='datetime', how='inner')

# Step 4: Check
print("✅ Merged DataFrame shape:", merged_df.shape)
print(merged_df.head())
print("\n✅ Missing values check:\n", merged_df.isna().sum())

✅ Merged DataFrame shape: (6341, 10)
    datetime        DBT        WBT        DPT         RH      SLP  \
0 1970-03-01  15.000000  14.500000  14.150000  94.500000  990.500
1 1970-03-02  17.825000  13.125000   8.975000  58.750000  989.700
2 1970-03-03  17.283333  12.633333   8.333333  57.666667  988.400
3 1970-03-04  17.262500  12.800000   8.425000  59.625000  987.375
4 1970-03-05  17.375000  13.125000   9.287500  62.375000  986.675

          MSLP  hour   max   min
0  1016.000000   6.0  23.1  13.6
1  1014.975000  18.0  24.1  11.1
2  1013.716667  30.0  22.5   9.1
3  1012.575000  42.0  23.0  10.6
4  1011.862500  42.0  24.8  11.2

✅ Missing values check:
 datetime     0
DBT          0
WBT         27
DPT          0
RH           0
SLP          0
MSLP         0
hour         0
max         26
min          7
dtype: int64

In [31]:
print(merged_df[['max', 'min']].isna().sum())

max    26
min     7
dtype: int64

In [32]:
merged_df = merged_df.dropna(subset=['max', 'min'])

In [33]:
merged_df['heatwave'] = merged_df['max'] - merged_df['min']

In [39]:
merged_df = merged_df.dropna(subset=['WBT'])

In [40]:
print(merged_df.isna().sum())

datetime    0
DBT         0
WBT         0
DPT         0
RH          0
SLP         0
MSLP        0
hour        0
max         0
min         0
heatwave    0
dtype: int64

In [44]:
merged_df.drop(columns=['hour'], inplace=True)
print(merged_df.head)

<bound method NDFrame.head of        datetime        DBT        WBT        DPT         RH       SLP  \
0    1970-03-01  15.000000  14.500000  14.150000  94.500000  990.5000
1    1970-03-02  17.825000  13.125000   8.975000  58.750000  989.7000
2    1970-03-03  17.283333  12.633333   8.333333  57.666667  988.4000
3    1970-03-04  17.262500  12.800000   8.425000  59.625000  987.3750
4    1970-03-05  17.375000  13.125000   9.287500  62.375000  986.6750
...         ...        ...        ...        ...        ...       ...
6309 2024-05-30  37.450000  25.675000  19.800000  39.375000  970.0125
6310 2024-05-31  35.875000  25.100000  19.637500  42.250000  971.5500
6311 2024-06-01  37.825000  24.700000  16.750000  33.000000  729.1750
6312 2024-06-02  37.150000  25.300000  19.162500  37.250000  486.3000
6313 2024-06-03  35.375000  24.500000  19.112500  40.625000  243.5625

             MSLP   max   min  heatwave
0     1016.000000  23.1  13.6       9.5
1     1014.975000  24.1  11.1      13.0
2     1013.716667  22.5   9.1      13.4
3     1012.575000  23.0  10.6      12.4
4     1011.862500  24.8  11.2      13.6
...           ...   ...   ...       ...
6309   993.087500  46.8  30.4      16.4
6310   994.837500  45.6  29.0      16.6
6311   996.375000  44.2  30.2      14.0
6312   998.162500  42.8  30.4      12.4
6313  1000.012500  44.6  30.2      14.4

[6282 rows x 10 columns]>

In [45]:
# Save the cleaned merged data
merged_df.to_csv("safdarjung_merged.csv", index=False)